:root {
    --color-text: #f5fbe3;
    --color-text2: #004d40;
    --color-text3: #0d1c33;
    --color-text4: #73ff7a;
    --background-color: #f9f9f9;
    --background-color2: #17373c;
    --background-color3: #ffff;
}

body {
  font-family: 'Poppins', sans-serif;
  word-spacing: 2.1px;
  margin: 0;
  background-color: var(--background-color);
  color: var(--color-text);
  line-height: 1.5;
}
.modal {
position: fixed;
top: 0;
left: 0;
height: 100%;
width: 100%;
background-color: rgba(0,0,0,.7);
display: flex;
justify-content: center;
align-items: center;
z-index: 1000;
visibility: hidden;
opacity: 0;
transition: 0.3s;
}
        
.modal:target {
visibility: visible;
opacity: 1;
}
        
.modal_window {
position: relative;
background-color: var(--background-color);
padding: 10px;
border-radius: 8px;
max-width: 100%;
max-height: 100%;
border: 2px solid var(--color-text2);
}
        
.modal_close {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  background-color: var(--background-color2);
  color: var(--color-text4);
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  z-index: 10;
  border-radius: 50%;
  width: 2.358rem;
  border: 2px solid var(--color-text3);
  text-align: center;
  z-index: 9999;
}

.modal_close:hover {
  transition: 0.3s;
  transform: scale(120%);
  color: var(--color-text4);
}
        
.modal_window img {
  max-width: 100%;
  max-height: 80vh;
  border-radius: 6px;
  object-fit: contain;
  margin: 0 auto;
}
.page{
  font-family: 'Poppins', sans-serif;
  background-color: var(--background-color);
  color: var(--color-text);
}
.darkmodeLabel {
  position: absolute;
  top: 4rem;
  right: 1rem;
  width: 50px;
  height: 25px;
  background-color: #1e1e1e;
  border-radius: 25px;
  cursor: pointer;
  border: 2px solid var(--background-colo2);
  display: inline-block;
  transition: 0.3s;
}
#darkmodeToggle:checked + .darkmodeLabel {
  background-color: var(--color-text4);
  
}
#darkmodeToggle:checked + .darkmodeLabel::before {
  transform: translateX(25px);
}
.darkmodeLabel::before {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 19px;
  height: 19px;
  background-color: white;
  border-radius: 50%;
  transition: 0.3s;
}

#darkmodeToggle:checked ~ .page {
  --color-text: #ffffff;
  --color-text2: #73ff7a;
  --color-text3: #cde0ff;
  --background-color: #0b0b0b;
  --background-color2: #081416;
  --background-color3: #1a1a1a;
}
header{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    background-color: var(--background-color2);
    color: var(--color-text);
    align-items: center; 
    padding: 1.2rem 0;
}
header h1{
    font-size: 2.5rem;
    margin-bottom: 1rem;
}
header a{
    color: var(--color-text);
    text-decoration: none;
    padding: 0;
    list-style-type: none;
}
header a:hover{
    transition: 0.5s;
    color: rgb(161 215 0);
}
nav ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center; 
  margin: 0 auto; 
  width: fit-content; 
}
nav li {
  padding: 0.5rem 0;
}
nav a {
  position: relative;
}
nav a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: rgb(161 215 0);
  transition: 0.3s ease;
}
nav a:hover::after {
  width: 100%;
}
section {
    color: var(--color-text3);
    background-color: var(--background-color);
    max-width:70%;
    overflow: auto;
    margin: auto;
}
section h1{
    margin-top: 50px;
    color: var(--color-text2);
    text-align: center;
    font-size: 50px;
}
section h2, h3 {
    color: var(--color-text3);
}
section p{
    margin: 0px;
    padding: 0.2rem;
}
section ul{
    padding-left: 25px;
    margin: 0px 5px 15px 5px;
}
.slider {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
 }
.slides {
    display: flex;
    width: 400%;
    animation: slide 18s infinite;
}
.slides img {
    width: 100%;
    height: 600px;
    object-fit: cover
}
@keyframes slide {
    0% { margin-left: 0%; }
    20% { margin-left: -100%; }
    40% { margin-left: -200%; }
    60% { margin-left: -300%; }
    80% { margin-left: 0%; }
}
.benefigrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  margin-bottom: 4rem;
}
.benefit-card {
  color: var(--color-text3);
  background: var(--background-color3);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
  text-align: center;
  transition: 0.3s;
}
.benefit-card:hover {
  transform: translateY(-8px);
}
.benefit-card i {
  color: #70c24a;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.benefit-card h3 {
  font-size: 1.25rem;
  margin: 0.5rem 0;
  color: var(--color-text2);
}

.benefit-card p {
  font-size: 0.95rem;
  color: var(--color-text3);
}

.menu-icon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: var(--color-text);
  padding: 0.5rem;
}

.menu-list {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}


@media (max-width: 768px) {
  .menu-icon {
    display: block;
    text-align: center;
  }

  .menu-list {
    display: none;
    flex-direction: column;
    background-color: var(--background-color2);
    width: 100%;
    position: relative;
    padding: 1rem 0;
  }

  #menu-toggle:checked + .menu-icon + .menu-list {
    display: flex;
  }
}
.galeria {
  position: relative;
  max-width: 100%;
  margin: 20px auto;
  overflow: hidden;
  border-radius: 8px;
}
.slide {
  display: none;
  width: 100%;
  animation: 0.3s ease-in-out;
}
.slide img {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
  vertical-align: middle;
}
.slide-control {
  display: none;
}
#slide1:checked ~ .slides-container .slide:nth-child(1),
#slide2:checked ~ .slides-container .slide:nth-child(2),
#slide3:checked ~ .slides-container .slide:nth-child(3) {
  display: block;
}
#slide1:checked ~ .slide-nav label[for="slide1"],
#slide2:checked ~ .slide-nav label[for="slide2"],
#slide3:checked ~ .slide-nav label[for="slide3"] {
  background: var(--color-text4)
}
.slide-nav {
  text-align: center;
  padding: 15px;
  background: var(--background-color2);
}
.slide-nav label {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin: 0 8px;
  background: #bbb;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.35s;
}
.slide-nav label:hover{
    background: var(--color-text3);
}
.icon-style {

  font-size: 2.5rem
}
